<!--
Name: Svetlana Komarova
Assignment: Assignment 3
Date: August 18, 2021

Description: This page is a custom login form that allows the user to log in.
Files: 	index.html - the main page to choose the calculators 
			with an option to add a course.
 		evaluation.html - a form that asks the user to input an evaluation 
			title, actual mark, a maximum mark, a weighting, and a due date.
		evalResult.html -  displays all the evaluations sorted by due date, 
			then by course code.
 		cumGPA.html - displays the cumulative GPA for all courses that have 
			final grades.
		course.html - gives the ability for the user to add new courses 
			to the courses table.
		termGPA.html - displays the GPA for the selected term.
		general.html - a separate file to store Thymeleaf fragments. 
       	main.css - the main styles for this application.
       	Evaluation.java - models "Evaluation" bean.
       	Course.java - models "Course" bean.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<head th:replace="fragments/general.html :: head">
<title>Log in</title>
</head>

<body>
	<h1>Log in to use Evaluation Tools</h1>

	<div th:if="${param.error}" class="error">Invalid user name or
		password</div>
	<div th:if="${param.logout}" class="logout">You have been logged
		out</div>

	<form class="logIn" method="POST" th:action="@{/login}" action="#">
		<p>
			<label for="username">User Name: <input type="username"
				id="username" name="username">
			</label><br> <label for="pass">Password: <input type="password"
				id="pass" name="password">
			</label>
		</p>
		
		<p>
			<input type="submit" value="Log In">
		</p>
	</form>

</body>
</html>